<<<<<<< HEAD
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  padding: 0;
  margin: 0;
  @media @tablet-widths {
    font-size: ;
    line-height: ;
  }
  @media @desktop-widths {
    font-size: ;
    line-height: ;
  }
}

h2 {
  padding: 0;
  margin: 0;
  @media @tablet-widths {
    font-size: ;
    line-height: ;
  }
  @media @desktop-widths {
    font-size: ;
    line-height: ;
  }
}

h3 {
  padding: 0;
  margin: 0;
}
=======
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  padding: 0;
  margin: 0;
  @media @tablet-widths {
    font-size: ;
    line-height: ;
  }
  @media @desktop-widths {
    font-size: ;
    line-height: ;
  }
}

h2 {
  padding: 0;
  margin: 0;
  @media @tablet-widths {
    font-size: ;
    line-height: ;
  }
  @media @desktop-widths {
    font-size: ;
    line-height: ;
  }
}

h3 {
  padding: 0;
  margin: 0;
}
>>>>>>> mobile_version
