  @text-white: #f1f1f1;
  @text-grey: #cdcdcd;
  @dark-grey: #202020;
  @light-grey: #bebebe;
  @ultra-light-grey: #dedede;
  @border-grey: #dcdcdc;
  @bg-grey: #1a1e1e;
  @bg-black: #010608;
  @tablet-widths: ~"(min-width: 700px)";
  @desktop-widths: ~"(min-width: 1199px)";
  @mobile-widths-only: ~"(max-width: 699px)";
