.contacts__container {
  display: flex;
}

.contacts__social {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
      &--fb {
      background-position: -5px -5px;
    }
    &--tw {
      background-position: -139px -5px;
    }
    &--inst {
      background-position: -72px -5px;
    }
}
