 .header {
  background-image: url("../img/bg-wrp-mob.jpg");
  background-repeat: no-repeat;
  background-color: @bg-grey;
  background-position: center;
  }

.header__wrapper {
  padding-top: 125px;
  margin-bottom: 40px;
  position: relative;
  background-image: url("../img/Background-Head-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}

.header__container {
    .container();
    text-align: center;
}

@media @tablet-widths {
  .header {
   background-image: url("../img/bg-wrp-tab.jpg");
 }

 .header__wrapper {
   background-image: url("../img/Background-Head-Tab.jpg");
   min-height: 700px;
   margin-bottom: 65px;
 }

.header__container {
  padding-top: 25px;
}
}
