.header {
  background-image: url("../img/bg-wrp-mob.jpg");
  background-repeat: no-repeat;
  background-color: @bg-grey;
  }

.header__wrapper {
  padding-top: 125px;
  position: relative;
  background-image: url("../img/Background-Head-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}

.header__container {
    .container();
    text-align: center;
}
