.header {
  position: relative;
  background-image: url("../img/bg-wrp-mob.jpg");
  background-repeat: no-repeat;
  background-color: @bg-grey;
  }

.header__wrapper {
  .container();
  background-image: url("../img/Background-Head-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
